<%=  form_for @item, :html => {:multipart => true} do |f| %>
 
  <div class="field">
     <%= f.label :name %>
     <%= f.text_field :name %>
  </div>

  <div class="field">
     <%= f.label :description %>
     <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %> 
    <%= f.text_field :remote_image_url, :placeholder => "Or enter a url" %>
    <%= image_tag( @photo.image_url) if  @photo.image? %>
  </div>

   

   <div class="add_item"><%= f.submit %></div>
<% end %>