<h1>All Items</h1>

<%= render 'search' %>
<div id="itemlist">






<% @items.each do |item| %>
    <div class="name">
      <%= item.name %>
    </div>
    
    <div class="description">
      <%= item.description %>
    </div>

    <div class="photo">
      <%= image_tag item.photo %>
    </div>



    <%= link_to 'Show', item %></td>
    <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_item_path(item) %>
<% end %>

</div>