<h1><%= @auth.username %>'s photos</h1>
<ul class="list">
  <% @photos.each do |photo| %>
    <div class="photo th">
      <div class="image">
        <%= image_tag photo.image.large.url %>
      </div>
      <div class="caption">
        <p><%= photo.caption %></p>
      </div>
      


      <%= link_to 'Edit', edit_photo_path(photo) %>
      <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</ul>